<!DOCTYPE html>
<html lang="en" ng-app="wordImages">
  <head>
    <title>Word to Images</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div ng-controller="SearchCtrl as search">
      <form ng-submit="searchTerm()" style="margin-top:30px">
        <h3>Search any term:</h3>

        <div class="form-group">
          <input type="search" class="form-control" ng-model="query">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form> 

      <div class="images">
        <h3>Images:</h3>
        <ul>

        </ul>
      </div>

      <div class="related">
        <h3>Related Terms:</h3>
        <ul>
          <li ng-repeat="word in wordService.relatedWords">
            {{word}}
          </li>
        </ul>
      </div>

    </div>

    

  </body>
</html>